/* XREF Styling */
body {
   	   	
        max-width:1024px; 

   	   	font-size: 1.1em;




}


/* Classes */
.wrapper {
  	border-left: 6px solid #DAB6DA;
  	border-left: 6px solid #7eb0d2;
  	border-left: 6px solid #cd596b;
  	border-left: 6px solid #cd596b;
  	
  	border-style: none none none solid;
}

